* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about, .services,
.reports, .contact,
.events, .support,
.teacher, .student,
.course, .class,
.parents {
  display: flex;
  margin-left: 260px;
  font-size: 2rem;
  overflow-y: hidden;
}